.feedBody {
  overflow: hidden;
  font-size: large;
  display: -webkit-box;
  line-height: 32px; /* fallback */
  max-height: 150px; /* fallback */
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.JournalListItems {
  background-color: white;
  color: black;
  border: 1px solid black;
}
